.post-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.form-container {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

form .highlight {
  color: #6c63ff;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

form button {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

.image-container {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
