.programs-page {
    padding: 20px;
    text-align: center;
}

.scroll-container {
    position: relative;
    margin: 20px 0;
}

.programs-scroll {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.program-card {
    flex: 0 0 auto;
    width: 300px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.program-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.register-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%);
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.scroll-btn.left {
    left: 10px;
}

.scroll-btn.right {
    right: 10px;
}
